body {
  background-color: none;
  background-image: url('Icons/Lined paper_12.png');
  background-size: 792px, 612px;
  padding: 0px;
  margin: 0px;

  color: black;
  font-family: "Courier", "Monaco";

  cursor: url(Icons/Mouse.png), auto;
}

h2{
  text-align: center;
  font-family: "Lucida Console", "Monaco";
  font-weight: bold;
  padding: 5px;
  border: 1px dashed black;
}

h3{
  font-weight: bold;
}

h6{
  color: grey;
}

#header

.box{
  padding: 5px;
  margin: 5px;
  background: white;
  border: 1px dashed black;
  border-radius: 5px;
}

  
