body {
  background-color: none;
  background-image: url('Icons/Lined paper_12.png');
  background-size: 850px;
  background-repeat: repeat-y;
  padding: 0px;
  margin: 0px;

  color: black;
  font-family: "Courier", "Monaco";

  cursor: url(Icons/Mouse.png), auto;
}

h2{
  text-align: left;
  font-family: "Lucida Console", "Monaco";
  font-weight: bold;
  padding: 10px;
  padding-bottom: 5px;
  margin-top: -9px;
  margin-left: -7px;
  width: 110%;
  border: 1px dashed black;
}

h3{
  font-weight: bold;
}

h6{
  color: grey;
}

#column1{
  position: fixed;
  margin-top: 10px;
  margin-left: 10px;
  width: 510px;
}

#column2{
  position: fixed;
  margin-top: 10px;
  margin-left: 530px;
  width: 300px;
}

.box{
  padding: 5px;
  margin: 5px;
  background: white;
  border: 1px dashed black;
  border-radius: 5px;
  overflow: hidden;
}

  
