/* TABLE OF CONTENTS:
   body
   TOPBAR
   SIDEBAR
   MAIN
   POPUP
   FOOTER
   TEXT
*/

body {
  background-color: white;
  background-image: url('Icons/Lined paper_12.png');
  background-size: 100% auto, min 500px;
  background-repeat: repeat;
  background-position: center;
  padding: 0px;
  margin: 0px;
  /*background-attachment: absolute;*/
  
  color: black;
  font-family: "Monaco", "Consolas";
  
  cursor: url(Icons/Mouse.png), auto;
}

a:hover{
  cursor: url(Icons/Hand.png), pointer;
}

#container {
  width: 700px;
  margin: auto; 
}
/*50px 50px 50px calc(10vw + 300px);/

/*- TOPBAR */

#topbar{
  background-color: transparent;
  width: 800px;
  padding: 0px 0px;
  position: relative;
  left: 0px;
  top: 20px;
}

/*- SIDEBAR */

#sidebar{
  background-color: #faffff;
  width: 150px;
  height: calc(100vh - 150px);
  left: calc(50vw - 600px);
  top: 50px;
  position: fixed;
  padding: 25px;
  border-radius: 5px;
  overflow: auto;
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.5);
}

.menubtn{
   width: 30px;
   margin-left: 30px;
   padding: 10px;
}
   
.socials a{
  width: 30px;
  margin-top: calc(100vh - 560px);
  padding: 7px;
  display: inline-block;
}


/*- MAIN */

#gallery{
  background-color: transparent;
  width: 100%;
  position: relative;
  left: 0px;
  top: 50px;
}

.post{
  background-color: #faffff;
  width: 100%;
  padding: 50px;
  border-radius: 5px;
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.5);
  margin-bottom: 5em;
  transform: rotate(0deg);
}

/*- MEDIA */

.youtube{
  width: 700px;
  height: 393px;
}

.pointer{
  width: 100%;
  min-height: 100%;
  cursor: url(Icons/Hand.png), pointer;
}

.image{
  width: 100%;
  min-height: 100%;
  cursor: url(Icons/Hand.png), pointer;
}

.image-container{
  width:700px;
  margin: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.grid-image{
  width: 165px;
  height: 165px;
  margin: 5px;
  overflow: hidden;
}

/*- POPUP */

.popup{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 80%;
  max-width: 2100px;
  height: 90vh;
  max-height: 1400px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  overflow: hidden;
  opacity: 0;
}

.popup.active{
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.popup.active .close-btn,
.popup.active .top-bar,
.popup.active .image-name,
.popup.active .large-image,
.popup.active .arrow-btn{
  opacity: 1;
  /*transition: opacity .5s;
  transition-delay: 1s;*/
}

.top-bar{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: none;
  text-align: center;
  line-height: 50px;
  font-weight: 300;
  opacity: 0;
}

.image-name{
   opacity: 0;
}

.close-btn{
   position: absolute;
   width: 40px;
   top: 15px;
   right: 20px;
   opacity: 0;
   cursor: url(Icons/Hand.png), pointer;
}

.arrow-btn{
   position: absolute;
   top: 50%;
   left: 10px;
   right: 10px;
   width: 40px;
   transform: translateY(-50%);
   padding: 10px;
   border-radius: 50%;
   border: none;
   background: none;
   cursor: url(Icons/Hand.png), pointer;
   opacity: 0;
}

.arrow-btn:hover{
   background: rgba(0, 0, 0, 0.5);
   width: 50px;
   border-radius: 100%;
}

.large-image{
  margin-top: 5%;
  max-height: 80%;
  max-width: 80%;
  height: auto;
  width: auto;
  opacity: 0;
}

/*- FOOTER */

#footer{
  margin: 100px 0px;
}

/*- TEXT */

h1{
  text-align: center;
  font-family: "Lucida sans typewriter", "Lucida console";
  font-weight: bold;
}

h2{
  margin-top: 0%;
  font-family: "Lucida sans typewriter", "Lucida console";
  font-weight: bold;
}


