/* TABLE OF CONTENTS:
   body
   STARTBAR
   HEADER
   SIDEBAR
   MAIN
   POPUP
   FOOTER
   CONTACT
   TEXT/COLOR
*/

body {
  background-color: none;
  background-image: url('Icons/Lined paper_12.png');
  background-size: 100% auto, min 500px;
  background-repeat: repeat;
  background-position: center;
  padding: 0px;
  margin: 0px;
  /*background-attachment: absolute;*/
  
  color: black;
  font-family: "Courier", "Monaco";
  
  cursor: url(Icons/Mouse.png), auto;
}

a:hover{
   cursor: url(Icons/Hand.png), pointer;
}

button:hover{
   cursor: url(Icons/Hand.png), pointer;
}

#container {
  max-width: 800px;
  margin-left: calc(50vw - 350px);
}
/*50px 50px 50px calc(10vw + 300px);*/

@media (max-width: 1200px) {
  main {
    display: flex;
    justify-content: center;
  }

  #container {
    margin-left: unset;
  }
}

/*- STARTBAR */

@media (min-width: 1200px) {
   #startbar {
      display: none;
   }
}

#startbar{
   background-color: #C8C8C8;
   border: 2px outset white;
   width: 100vw;
   height: 50px;
   margin: 0px;
   position: fixed;
   z-index: 5;
   overflow: hidden;
   box-shadow: 0px 6px 0px black;
}

.startbtn{
   border: 1px outset white;
   background-color: #C8C8C8;
   height: 40px;
   width: 100px;
   padding: auto;
   margin: 5px;
   margin-right: 0px;
   overflow: hidden;
   font-size-adjust: .9;
   text-align: left;
}

.startbtn img{
   height: 70%;
   display: inline-block;
   margin: 0px;
   margin-bottom: -5px;
}

.divider{
   border: 1px inset white;
   display: inline-block;
   height: 38px;
   margin-bottom: -12px;
}

.sitename{
   height: 25px;
   margin-bottom: -6px;
   margin-left: calc(100% - 370px);
}

/*- SIDEBAR */

@media (max-width: 1200px) {
   #sidebar {
      display: none;
   }
   #header {
      max-width: 90%;
      margin: 5%;
   }
}

#sidebar{
   background-color: #C8C8C8;
   border: 2px outset white;
   width: 170px;
   height: calc(100vh - 150px);
   min-height: 472px;
   left: calc(50vw - 600px);
   top: 50px;
   position: fixed;
   padding: 0px;
   overflow: none;
   box-shadow: 6px 6px 0px black;
}

.sidebar-header{
  border: 1px solid white;
  background-image: linear-gradient(to right, #0000ac , #262A3E);
  height: 25px;
  padding: 5px;
  line-height: 28px;
}

.sidebar-box{
   border: 1px solid black;
   padding: 5px;
   height: calc(100vh - 199px);
   min-height: 423px;
}

.menubtn{
   border: 1px outset white;
   background-color: #C8C8C8;
   height: 33px;
   width: 100%;
   padding: 0px 3px 5px 3px;
   overflow: clip;
   margin-top: 5px;
   margin-bottom: 5px;
   font-size-adjust: .6;
   text-align: left;
}

.menubtn:hover{
   border: 1px inset white;
   line-height: 1px;
}

.menubtn img{
   height: 25px;
   display: inline-block;
   margin-top: 3px;
   margin-bottom: -8px;
}

.socials{
   width: 100%;
   padding-top: calc(100vh - 625px);
   padding-left: 3px;
}

.socials a{
   width: 33px;
   height: 33px;
   padding: 5px;
   padding-bottom: 3px;
   display: inline-block;
   border: 1px outset white;
}

.socials a:hover{
   border: 1px inset white;
   line-height: 1px;
}

/*- HEADER */

#header{
  background-color: transparent;
  width: 100%;
  padding: 0px 0px;
  position: relative;
  left: 0px;
  top: 20px;
}

/*- MAIN */

#gallery{
  background-color: transparent;
  width: 100%;
  position: relative;
  left: 0px;
  top: 50px;
}

@media (max-width: 1200px) {
  .post {
    margin: 5%;
  }
}

.post{
   background-color: #C8C8C8;
   border: 2px outset white;
   padding: 0px, 20px;
   box-shadow: 6px 6px 0px black;
   margin-bottom: 5em;
}

.post h2{
   border: 1px solid white;
   background-image: linear-gradient(to right, #0000ac , #262A3E);
   height: 25px;
   padding: 5px;
   line-height: 28px;
}

.post-box{
   border: 1px solid black;
   padding: 3px;
}

/*- MEDIA */

.media-box{
   width: 90%;
   margin: 5%;
   display: flex;
   position: relative;
   justify-content: center;
   border: 1px inset white;
}

.post iframe{
   width: 100%;
   height: 100%;
   aspect-ratio: 16/9;
   margin: 5px;
}

.post video{
   width: 30%;
   margin: 1.5% 1.2%;
   cursor: url(Icons/Hand.png), pointer;
}

.pointer{
  width: 100%;
  min-height: 100%;
  cursor: url(Icons/Hand.png), pointer;
}

.image{
  width: 100%;
  min-height: 100%;
  cursor: url(Icons/Hand.png), pointer;
}

@media (max-width: 800px) {
   .grid-image {
      max-width: 20vw;
      max-height: calc(20vw - 10px);
   }
}

.grid-image{
   width: 165px;
   height: 155px;
   margin: 5px;
   overflow: hidden;
}

/*- POPUP */

.popup{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 90vw;
  max-width: 1400px;
  height: 90vh;
  max-height: 1500px;
  background-color: #C8C8C8;
  display: flex;
  justify-content: center;
  -items: center;
  z-index: 10;
  overflow: hidden;
   border: 2px outset white;
   box-shadow: 6px 6px 0px black;
  opacity: 0;
}

.popup.active{
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.popup.active .close-btn,
.popup.active .top-bar,
.popup.active .image-name,
.popup.active .large-image,
.popup.active .arrow-btn{
  opacity: 1;
  /*transition: opacity .5s;
  transition-delay: 1s;*/
}

.top-bar{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background: none;
  text-align: center;
  line-height: 50px;
  font-weight: 300;
   border: 1px solid white;
   background-image: linear-gradient(to right, #0000ac , #262A3E);
   padding: 5px;
   line-height: 28px;
  opacity: 0;
}

.image-name{
   opacity: 0;
}

.close-btn{
   position: absolute;
   width: 25px;
   height: 25px;
   top: 5px;
   right: 15px;
   background-color: #C8C8C8;
   border: 1px outset white;
   cursor: url(Icons/Hand.png), pointer;
   font-size: 20px;
   line-height: 26px;
}

.close-btn:hover{
   border: 1px inset white;
}

@media (max-width:1200px) {
   .arrow-btn{
      margin-top: calc(46vh - 50px);
   }
}

.arrow-btn{
   position: absolute;
   top: 50%;
   width: 60px;
   transform: translateY(-50%);
   padding: 10px;
   background-color: #C8C8C8;
   border: 1px outwet white;
   cursor: url(Icons/Hand.png), pointer;
}

.arrow-btn:hover{
   border: 1px inset white;
}

.left-arrow{
   left: 10px;
}

.right-arrow{
   right: 10px;
}

.large-image{
   margin: auto;
   max-height: 80%;
   max-width: 80%;
   height: auto;
   width: auto;
   border: 1px inset white;
   padding: 5px;
   opacity: 0;
}

/*- FOOTER */

#footer{
   margin: 50px 0px 96px;
   text-align: center;
   padding: 10px 20px;
   width: 20%;
   background-color: #C8C8C8;
   border: 2px outset white;
   box-shadow: 6px 6px 0px black;
}

#footer:hover{
   border: 2px inset white;
}

/*- CONTACT -*/

/*-li{
   list-style: "⁂";
}
*/

.email{
   height: 75px;
   width: 90%;
   margin: 5%;
   border: 1px outset white;
   color: #F20DB9;
   font-size: 1.5em;
}

.email:hover{
   border: 1px inset white;
}

.email img{
   height: 30px;
   margin-bottom: -8px;
   margin-right: 1%;
   margin-left: 0%;
}

/*- TEXT */

@font-face{
   font-family: 'Cosmina';
   src: "cosmina.ttf";
}

@font-face{
   font-family: 'Cooperbits';
   src: "CooperBits.ttf";
}

h1{
   text-align: center;
   font-family: "Lucida Console", "Monaco";
   font-weight: bold;
}

h2{
   font-family: "Lucida Console", "Monaco";
   color: white;
   margin: 0px;
   text-align: left;
}

h4{
   text-align: center;
   font-family: "Courier", "Monaco";
   font-size: 30px;
   font-weight: bold;
}

span{
   font-weight: bold;
   margin-left: -5;
}

p{
   margin-left: 1em;
}

a{
   color: #F20DB9;
}
