/* TABLE OF CONTENTS:
   body
   STARTBAR
   HEADER
   SIDEBAR
   MAIN
   POPUP
   FOOTER
   CONTACT
   TEXT/COLOR
*/

body {
  background-color: none;
  background-image: url('Icons/Lined paper_12.png');
  background-size: 100% auto, min 500px;
  background-repeat: repeat;
  background-position: center;
  padding: 0px;
  margin: 0px;
  /*background-attachment: absolute;*/
  
  color: black;
  font-family: "Monaco", "Consolas";
  
  cursor: url(Icons/Mouse.png), auto;
}

a:hover{
   cursor: url(Icons/Hand.png), pointer;
}

button:hover{
   cursor: url(Icons/Hand.png), pointer;
}

#container{
  width: 100%;
   align-content: center;
}

/*- START MENU */

#sidebar{
   background-color: #C8C8C8;
   border: 2px outset white;
   height: 100%;
   min-height: 472px;
   position: fixed;
   padding: 0px;
   overflow: none;
}

.top-bar{
  width: 100%;
  height: 30px;
  line-height: 50px;
  border: 1px solid white;
  background-image: linear-gradient(to right, #0000ac , #262A3E);
  padding: 5px;
  line-height: 0px;
}

.close-btn{
   margin-left: 0px;
   height: 30px;
   width: 30px;
   top: 5px;
   right: 5px;
   position: absolute;
}

.sidebar-box{
   border: 1px solid black;
   padding: 5px;
   height: calc(100% - 58px);
   align-content: center;
}

img{
   width: 50px;
   left: 50px;
}

.menubtn{
   border: 1px outset white;
   background-color: #C8C8C8;
   height: 33px;
   width: 170px;
   margin: 5px, auto;
   overflow: clip;
   font-size-adjust: .6;
   text-align: left;
}

.menubtn:hover{
   border: 1px inset white;
   line-height: 1px;
}

.menubtn img{
   height: 25px;
   display: inline-block;
   margin-top: 3px;
   margin-bottom: -8px;
}

.socials{
   width: 100%;
   padding-top: calc(100vh - 625px);
   margin-left: auto;
}

.socials a{
   width: 33px;
   height: 33px;
   padding: 5px;
   padding-bottom: 3px;
   display: inline-block;
   border: 1px outset white;
}

.socials a:hover{
   border: 1px inset white;
   line-height: 1px;
}

/*- TEXT */

@font-face{
   font-family: 'Cooperbits';
   src: "CooperBits.ttf";
}


h2{
   font-family: "Lucida sans typewriter", "Lucida console";
   color: white;
}

span{
   font-family: "Monaco", "Consolas";
   font-weight: bold;
   margin-left: -5;
}

a{
   color: #F20DB9;
}
