/* TABLE OF CONTENTS:
   body
   STARTBAR
   HEADER
   SIDEBAR
   MAIN
   POPUP
   FOOTER
   CONTACT
   TEXT/COLOR
*/

body {
  background-color: none;
  background-size: 100% auto;
  background-position: center;
  padding: 0px;
  margin: 0px;
  /*background-attachment: absolute;*/
  
  color: black;
  font-family: "Courier New", "Monaco";
  
  cursor: url(Icons/Mouse.png), auto;
}

a:hover{
   cursor: url(Icons/Hand.png), pointer;
}

button:hover{
   cursor: url(Icons/Hand.png), pointer;
}

/*- START MENU */

#sidebar{
   background-color: #C8C8C8;
   border: 2px outset white;
   height: calc(100% - 4px);
   width: calc(100% - 4px);
   min-height: 472px;
   position: fixed;
   padding: 0px;
   overflow: none;
}

.top-bar{
  width: calc(100% - 12px);
  height: 30px;
  border: 1px solid white;
  background-image: linear-gradient(to right, #0000ac , #262A3E);
  padding: 5px;
}

.close-btn{
   position: absolute;
   width: 30px;
   height: 30px;
   top: 5px;
   right: 5px;
   background-color: #C8C8C8;
   border: 1px outset white;
   cursor: url(Icons/Hand.png), pointer;
   font-size: 20px;
   line-height: 26px;
}

@media (min-width: 300px){
   .sidebar-box{
      padding: 5px 20%;
   }
}

.sidebar-box{
   border: 1px solid black;
   padding-top: 5px;
   height: calc(100% - 54px);
}

.portrait {
   width: 60%;
   display: block;
   margin: 5px;
   margin-left: auto;
   margin-right: auto;
}

.menubtn{
   border: 1px outset white;
   background-color: #C8C8C8;
   height: 50px;
   width: 100%;
   min-width: 170px;
   margin: 5px 0px;
   overflow: clip;
   font-size-adjust: .8;
   text-align: left;
   line-height: -2px;
}

.menubtn:hover{
   border: 1px inset white;
   line-height: 1px;
}

.menubtn img{
   height: 30px;
   display: inline-block;
   margin-top: -2px;
   margin-bottom: -8px;
}

.socials{
   position: absolute;
   left: calc(50% - 110px);
   bottom: 30px;
}

.socials a{
   width: 45px;
   height: 45px;
   padding: 10px;
   display: inline-block;
   border: 1px outset white;
}

.socials a:hover{
   border: 1px inset white;
}

/*- TEXT */

h2{
   font-family: "Lucida Console", "Monaco";
   color: white;
   margin-top: 4px;
}

span{
   font-family: "Courier New", "Monaco";
   font-weight: bold;
   margin-left: -5;
}

a{
   color: #F20DB9;
}
